.row {
    padding: 20px;
}

div {
    background-color:#aadcca ;
    text-align: center;
}

#nombre {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

/* 
  para ajustar la foto usamos media query de bootstrap 
  priemro pongo las caracteristicas comunes en un primer estilo
*/


/* de 576px hacia arriba (para mayor tamaño) */
@media (min-width: 576px) {  
  #mifoto{
    position: absolute;
    border-radius: 60%;
    box-shadow: 3px 3px 3px black; 
    left: 3%;
    width: 15%;
    top: 300px;
  }
}

/* Small devices (landscape phones, 576px y MENOS) */
@media (max-width: 576px) {  
  #mifoto{
    position: absolute;
    border-radius: 60%;
    box-shadow: 3px 3px 3px black; 
    left: 3%;
    width: 20%;
    top: 390px;
  }
}

