<div class="row">
    <h1>Educacion</h1>
      <div class="col-lg-1"></div>
      <div class="col-lg-11">
        <ul>
          <li>
            <h2>Secundaria-(1969 - 1974)</h2>
          </li>
          <p>
            Estudié en un bachiller tradicional en la provincia de Buenos Aires.
            Allí conocí a la que es mi compañera de vida, con quien me casé hace ya 45 años
          </p>
        </ul>
        <ul>
          <li>
            <h2>Universitaria - (1974 - 1984)</h2>
          </li>
          <p>
            Mecibido de Licenciado en Ciencias Físicas en la Facultad de Ciencias Exactas y Naturales de la UBA
            Tesina de licenciatura llevada a cabo en el Centro de Investigaciones Opticas (CIOp) de La Plata.
            Tema de la tesis: operaciones con luz coherente (Láser)
            Publiqué 2 trabajos en revistras internacionales y en el congreso de la Asociación Física Argentina (AFA)
          </p>
        </ul>
        <ul>
          <li>
            <h2>Beca CONICET - (1984 - 1986)</h2>
          </li>
          <p>
            Durante 2 años formé parte del laboratorio de óptica del CIOp, desarrollando trabajos en Speckle y operacoines cvon luz coherente y luz blanca.
            Publiqué 4 trabajos en revistas internacionales y llevé a cabo múltiples experiencias con redes de fresnel, hologramas y proyección de franjas sobre objetos 3D.
          </p>
        </ul>
      </div>
  </div>
  