<div class="row">
  <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h1>Trabajo 1</h1>-<h3>(del año xxx al año yyy)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate
          facere nostrum quisquam dignissimos adipisci reprehenderit itaque unde
          optio in error, assumenda esse quos, aut molestiae rem expedita tempore
          neque inventore.
        </p>
      </ul>
      <ul>
        <li>
          <h1>Trabajo 2</h1>-<h3>(del año xxx al año yyy)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate
          facere nostrum quisquam dignissimos adipisci reprehenderit itaque unde
          optio in error, assumenda esse quos, aut molestiae rem expedita tempore
          neque inventore.
        </p>
      </ul>
      <ul>
        <li>
          <h1>Trabajo 3</h1>-<h3>(del año xxx al año yyy)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate
          facere nostrum quisquam dignissimos adipisci reprehenderit itaque unde
          optio in error, assumenda esse quos, aut molestiae rem expedita tempore
          neque inventore.
        </p>
      </ul>
    </div>
</div>
