<div class="row">
  <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h2>Smar SAIC - (1970 - 1980)</h2>
        </li>
        <p>
           Encargado de costos como primer tarea con capacitación en instituciones privadas.
           Luego asistente del proyecto de energía solar y finalmente responsable del área de investigación y desarrollo de nuevas tecnologías. 
        </p>
      </ul>
      <ul>
        <li>
          <h2>Programador independiente - (1980 - 1984)</h2>
        </li>
        <p>
          Desarrollo de sistemas enlatados y a medida para empresas.
          Sistemas de facturación, contabilidad y stock.
          Sistemas Operativos CP/M y MS-DOS
          Sistema de optimización de recursos de establecimientos lecheros
          Sistema de control y gestión para acopio de tabaco (Massalin Particulares)
        </p>
      </ul>
      <ul>
        <li>
          <h2>Sage SRL - (1984 - actualidad)</h2>
        </li>
        <p>
          Socio fundador y desarrollador de sistemas en Sage SRL.
           
        </p>
      </ul>
    </div>
</div>
