<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2>Sistema de laboratorios de análisis clínicos</h2>
      <h3>SageLab</h3>
      <p>
        El sistema de manejo de Laboratorios de Análisis Clínicos
        mas completo, amigable y parametrizable del mercado, condensando nuestra
        experiencia a lo largo de 25 años de uso del sistema SageLab. Por su
        potencia, agilidad y simplicidad, se adapta a laboratorios de cualquier
        tamaño (desde 1 solo usuario hasta cientos de terminales, analizadores y
        consultorios).
      </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/SageLab2-495x400.png" 
      class="img-fluid img-proyectos"/>
    </div>
  </div>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h2>Sistema de control de tiempo y asistencia</h2>
      <h3>TimeTech SQL</h3>
      <p>
        Pensado para responder a las mayores exigencias y con
        manejo completo de las variables biométricas de identificación
        TimetechSQL es la solución en uso en las mayores instalaciones de
        control de asistencia del país. Procesamiento y lectura distribuidos.
        Optimizado para instalaciones con gran cantidad de usuarios y personal.
        Análisis inteligente de fichadas. Ilimitada cantidad de horarios,
        simples, personales, rotativos y complejos. Flexibilidad en el motor de
        base de datos (MSSQL, MySQL, Oracle). Completo registro de auditoría.
        Módulo completo de seguridad informática según requisitos del BCNA.
      </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/timetech-sql-login.png" 
      class="img-fluid img-proyectos"/>

    </div>
  </div>
</div>
