.row {
    padding: 20px;
    background:#aadcca;
  }

  footer {
    color:rgb(9, 62, 62);
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
  }