<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/micha.jpg" 
        class="img-fluid"
        id="mifoto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id=nombre> Marcelo Michalski</p>
        <p>Licenciado en Física</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
        <h1>Acerca de mi</h1>
        <p>
        Licenciado en física en la FCEyN de la UBA.
        Socio fundador de <a href="http://www.sage.com.ar" class="link-primary">Sage SRL</a>,
        empresa de sistemas de control, desarrolladores de hardware y software de control 
        de acceso y asistencia y del sistema SageLab para laboratorios de análisis clínicos.
        Padre de 4 (fernando, Diego, Gustavo y Ekaterina), ya independientes y felices.
        Me gusta programar, resolver problemas, aprender nuevas herramientas.
        También me gusta viajar. conocer culturas diferentes.
        </p>  
        </span>
    </div>
</div>
