.row {
    padding: 20px;
}

div {
    background-color:#aadcca ;
    text-align: center;
}

#nombre {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

/* para ajustar la foto usamos media query de bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {  
  #mifoto{
    position: absolute;
    border-radius: 30%;
    box-shadow: 3px 3px 3px black; 
    width: 25%;
    left:3%;
    top:400px;
  }
}

@media (min-width: 576px) {  
  #mifoto{
    position: absolute;
    border-radius: 30%;
    box-shadow: 3px 3px 3px black; 
    width: 15%;
    left:3%;
    top:300px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #mifoto{
    position: absolute;
    border-radius: 30%;
    box-shadow: 3px 3px 3px black; 
    width: 12%;
    left:3%;
    top:30%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #mifoto{
    position: absolute;
    border-radius: 30%;
    box-shadow: 3px 3px 3px black; 
    width: 12%;
    left:3%;
    top:30%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #mifoto{
    position: absolute;
    border-radius: 30%;
    box-shadow: 3px 3px 3px black; 
    width: 12%;
    left:3%;
    top:30%;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #mifoto{
    position: absolute;
    border-radius: 30%;
    box-shadow: 3px 3px 3px black; 
    width: 12%;
    left:3%;
    top:30%;
  }
}
