<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/micha.jpg" 
        class="img-fluid"
        id="mifoto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id=nombre> Marcelo Michalski</p>
        <p>Licenciado en Física</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
        <h1>Acerca de mi</h1>
        <p>
        Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Odio voluptates expedita, 
        reprehenderit rerum minus incidunt illo 
        labore amet exercitationem quo consectetur
        sequi veniam dolorum eveniet! 
        Dicta hic magnam earum repudiandae!
        </p>  
        </span>
    </div>
</div>
